<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
    header {
    font-size:28px;
    text-align: center;
    }
        body {
        background-color: grey;
        color:white;
        font-size:21px;
        text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h2>Login</h2>
    </header>
<form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
    <input type="submit" value="Login">
</form>

</body>
</html>